@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');


h1, h2 {
    font-family: 'Indie Flower', cursive;
}
h1 {
    color: rgb(157, 19, 248);
}
h2 {
    color: rgb(26, 77, 243);
}
article {
    font-family: 'Roboto', sans-serif;
}

table.resultados {
    border-collapse: collapse;
}

table.resultados caption {
    font-weight: bold;
    margin-bottom: 1em;
}

table.resultados th,
table.resultados td {
    padding: 0.5em 1em;
    border: 1px solid grey;
}

table.resultados thead {
    background: linear-gradient(180deg, #74fc6fb2 0%, #4bf720b2 0%, #0ff7d8 100%, #14cff0 100%);
    
    
}

article.botones input {
    padding: 0.8em 1em;
    background: linear-gradient(180deg, #fcc03f 0%, #f4f80d 100%);
    transition: all .3s;
    border-radius: 0.5em;
    border-color:rgb(250, 244, 244);
    font-weight: bold;
    color: rgb(5, 5, 5);
}


